@inherits LayoutComponentBase

<div class="page-wrapper">
    <nav class="main-nav">
        <NavBar />
    </nav>

    <div class="content-container">
        <aside class="main-sidebar">
            <NavMenu />
        </aside>

        <main class="rendered-content-container">
            <div class="content px-4 container">
                @Body
            </div>
        </main>
    </div>
</div>
