@using TrendsViewer.Pages
@inherits NavMenuBase

<div class="sidebar-trends-list">
    @if (PopularTrends != null)
    {
        <h5> Popular </h5> 

        <div class="sidebar-trends-group">
        @foreach (var trend in PopularTrends)
        {
            <div class="trend">
                <span>
                    <img class="trend-image" src="@ImageService.GetFullUrl(trend.ImageUrl)" />
                </span>
                <span class="trend-title" @onclick="(() => NavigateTrend(trend.Id))"> @trend.Name </span>
            </div>
        }
        </div>
    }

    @if (Trends != null)
    {
        <h5 class="trend-add-button-anchor">
            Others
            @if (AuthService.IsLoggedIn())
            {
                <div class="trend-add-button" @onclick="(() => NavigateNewTrend())">
                    <i class="fas fa-plus-circle"></i>
                </div>
            }
        </h5>

        <div class="sidebar-trends-group">
        @foreach (var trend in Trends)
        {
            <div class="trend">
                <span>
                    <img class="trend-image" src="@ImageService.GetFullUrl(trend.ImageUrl)" />
                </span>
                <span class="trend-title" @onclick="(() => NavigateTrend(trend.Id))"> @trend.Name </span>
            </div>
        }
        </div>
    }
</div>
