@using TrendsViewer.Shared.Bases
@inherits NavMenuBase

<div>

    <div class="sticky-list">
        @if (Trends != null)
        {
            <h5 class="trends-list-title"> Trends </h5>
            @if (AuthService.IsLoggedIn())
            {
                <div class="trend-plus" @onclick="(() => NavigateNewTrend())">
                    <i class="fas fa-plus-circle"></i>
                </div>
            }
            @foreach (var trend in Trends)
            {
                <div class="trend">
                    <span><img class="trend-image" src=@trend.ImageUrl /></span>
                    <span class="trend-title" @onclick="(() => NavigateTrendId(trend.Id))"> @trend.Name </span>
                </div>
            }
        }
    </div>
</div>
