@using TrendsViewer.Shared.Bases
@inherits NavMenuBase

<div>
    <h5>
        Popular
    </h5>    

    @if (Trends != null)
    {
        <ul>
            @foreach (var trend in Trends)
            {
                <li>
                    @trend.Name
                </li>
            }
        </ul>
    }
</div>
