@page "/users/{Id}"
@inherits UserDetailsBase 

<div>
    <h1>User profile</h1>
    @if (User != null)
    {
        <br />
        <h3>Handle: @User.Username</h3>
        <h3>Email: @User.Email</h3>
    }
</div>