.create-post-comment {
    border: 1px;
    border-color: gray;
    border-radius: 10px;
}

.post-comments {
    font-size: 14px;
}

.comment-options {
    font-size: 10px;
    cursor: pointer;
}

.comment-edit {
    color: #1b6ec2;

    margin-right: 4px;
}
.comment-delete {
    color: red;
}

.post-op-left-group-item {
    margin-left: 4px;
}

.comment-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.comment-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-op-comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.post-op-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 100%;
}

.comment-wrapper hr {
    width: 100%;
    height: 1px;
}
