.create-post-comment {
    border: 1px;
    border-color: gray;
    border-radius: 10px;
}

.post-comments {
    font-size: 14px;
}

.comment-options {
    display:inline;
    position: relative;
    font-size: 10px;
    cursor: pointer;
}

.comment-edit {
    left: 360px;
    top: 28px;
    color: #1b6ec2;
}
.comment-delete {
    left: 360px;
    top: 28px;
    color: red;
}

.comment-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.comment-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
