@layout LoginLayout
@page "/register"
@inherits RegisterBase
@using Syncfusion.Blazor.Notifications

<SfToast Title="Successfull sign in!" Content=@ToastContentRegisterOK @ref="ToastObjRegisterOK">
    <ToastPosition X="Right" Y="Bottom"></ToastPosition>
</SfToast>

<SfToast Title="Failed sign in!" Content=@ToastContentRegisterFailed @ref="ToastObjRegisterFailed">
    <ToastPosition X="Right" Y="Bottom"></ToastPosition>
</SfToast>

<div class="row">
    <div class="col-12 row">
        <div class="col-6 image-card login-col">
            <img src="img/login-register-image.webp" />

        </div>
        <div class="col-6 login-card login-col">
            <EditForm Model="@RegisterUserModel" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <div>
                    <h3 style="font-weight:bold;color:purple">
                        Trends Login
                    </h3>
                </div>
                <div class="col-12 row">
                    <InputText class="form-control col-12" @bind-Value="RegisterUserModel.Username" placeholder="username" />
                </div>
                <div class="col-12 row">
                    <InputText class="form-control col-12" @bind-Value="RegisterUserModel.Email" placeholder="email" />
                </div>
                <div class="col-12 row">
                    <InputText class="form-control col-12" @bind-Value="RegisterUserModel.Password" type="password" placeholder="password" />
                </div>
                <div class="col-12 row">
                    <InputText class="form-control col-12" @bind-Value="RegisterUserModel.PasswordCheck" type="password" placeholder="repeat password" />
                </div>
                <div class="create-trend-button-container">
                    <button class="btn btn-primary create-trend-button" type="submit">
                        <i class="fas fa-arrow-circle-right"></i>
                    </button>
                </div>

            </EditForm>
        </div>
    </div>

</div>
