@page "/trends/edit/{id}" 
@inherits TrendEditBase

<EditForm Model="@EditTrendModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <h3>Edit Trend</h3>
    <div class="form-group row">
        <label for="Name" class="col-sm-2 col-form-label">
            Name
        </label>
        <div class="col-sm-10">
            <InputText id="name" class="form-control" placeholder="Name"
                       @bind-Value="EditTrendModel.Name" />
            <ValidationMessage For="@(()=> EditTrendModel.Name)" />
        </div>

        <label for="Description" class="col-sm-2 col-form-label">
            Description
        </label>
        <div class="col-sm-10">
            <InputText id="confirm-name" class="form-control" placeholder="Description"
                       @bind-Value="EditTrendModel.Description" />
            <ValidationMessage For="@(()=> EditTrendModel.Description)" />
        </div>


        <label for="ImageUrl" class="col-sm-2 col-form-label">
            ImageURL
        </label>
        <div class="col-sm-10">
            <InputText id="confirm-name" class="form-control" placeholder="ImageUrl"
                       @bind-Value="EditTrendModel.ImageUrl" />
            <ValidationMessage For="@(()=> EditTrendModel.ImageUrl)" />
        </div>




    </div>
    <button class="btn btn-primary" type="submit">Submit</button>

    <button class="btn btn-danger" type="button" @onclick="DeleteClick">Delete</button>
</EditForm>