@page "/trends"
@inherits TrendsListBase

<div class="row">
    <div class="layout-col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <div class="row">
            <div class="layout-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 posts-layout">

                @if (AuthService.IsLoggedIn())
                {
                    <a style="text-decoration:none;color:black;" href="@($"trends/create/")">
                        <div class="post-option post-plus">
                            <i class="fas fa-plus-circle"></i>
                        </div>
                    </a>
                }
                @if (Trends != null)
                {
                    foreach (var trend in Trends)
                    {
                        <TrendCard Authenticated="@AuthService.IsLoggedIn()" ActivateButtons="@true"
                            OnTrendFollowed="FollowTrend" OnNavigateToTrendPage="NavigateToTrendPage" ImageUrl="@ImageService.GetFullUrl(trend.ImageUrl)" Trend="trend" />
                    }
                }
            </div>
        </div>
    </div>
</div>
